certifi==2019.11.28
chardet==3.0.4
dnspython==1.16.0
eventlet==0.25.1
greenlet==0.4.15
idna==2.9
monotonic==1.5
mysql-connector-python==8.0.19
pkg-resources==0.0.0
protobuf==3.6.1
python-engineio==3.12.1
python-socketio==4.5.0
requests==2.23.0
six==1.14.0
urllib3==1.25.8
